<%- include('partials/header') %>
<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <table id="mytable" class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Donor Id</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Age</th>
                    <th scope="col">Blood group</th>
                    <!-- <th scope="col">Weight</th>
                    <th scope="col">Blood Pressure</th>
                    <th scope="col">Temperature</th> -->
                    <!-- <th scope="col">Pulse</th> -->
                    
                    <th scope="col">Delete</th>
                    <th scope="col">Viewinfo</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                <% print.forEach(function (user) { %>
                    <form></form>
                  <tr>
                    <td><%= user.u_id %></td>
                      <td><%= user.fname %></td>
                      <td><%= user.lname %></td>
                      <td><%= user.email %></td>
                      <td><%= user.phno %></td>
                      <td><%= user.address %></td>
                      <td><%= user.city %></td>
                      <td><%= user.gender %></td>
                      <td><%= user.dob %></td>
                      <td><%= user.age %></td>
                      <td><%= user.b_group %></td>
                      <!-- <td><%= user.status %></td> -->
                      <!-- <td><%= user.weight %></td>
                      <td><%= user.bp %></td>
                      <td><%= user.temp %></td>
                      <td><%= user.pulse %></td> -->
                      
                      
                      <td><a href="/viewinfo/<%=user.u_id%>" class="btn btn-primary" action="/viewinfo/<%=user.u_id%>">viewinfo</a></td>
                     <td> <button class="btn btn-danger"><a href="/delete/<%=user.u_id%>" style="text-decoration: none; color: black;">Delete</a></button>
                      
                     </td>
                     

                      
                  </tr>  
                <% }) %>
            </tbody>
        </table> 
    </body>
</html>
<%- include('partials/footer') %>